<h2>Welcome to my Book Store</h2>
<input type="text" (input)="updateBookSearchTerm($event)" placeholder="Filter books..."/>
<hr />
<a routerLink="/books/new">New</a>
<hr />
@if (bookSearchTerm) {
    <app-book-card [content]="book" *ngFor="let book of books$ | async | bookFilter: bookSearchTerm"
                   (detailClick)="goToBookDetails($event)"/>
} @else {
    <app-book-card [content]="book" *ngFor="let book of books$ | async"
                   (detailClick)="goToBookDetails($event)"/>
}

